@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");
* {
  font-family: "Merriweather", serif;
  font-size: 15px;
}

header {
  display: flex;
  flex-direction: row;
}

.nav-bar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 2px;
  padding: 2px;
}

.nav-bar .icon-name {
  color: rgb(1, 110, 1);
  width: 40px;
  height: 50px;
}

.nav-bar .icon-btn {
  width: 64px;
  height: 40px;
}

input + input {
  height: 20px;
}

h2 {
  font-weight: bold;
}