img {
    width: 30px;
    height: 30px;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    align-items: center;
}


.icon-page  {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: 900;
    font-size: 22px;
    margin: 0 0 0 20px;
}

nav {
    padding: 0 0 0 200px;
    display: flex;
    justify-content: space-between;
}

a {
    text-align: center;
    text-decoration: none;
    margin: 0 25px;
    color: rgb(112, 110, 113);
}

#button {
    margin-right: 25px;
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    color: white;
    box-shadow: 0 0 2px #eee;
    border-radius: 20px;
    border: none;
    background-size: 200% auto;
    transition: 0.5s;
    padding: 10px;
    background-image: linear-gradient(to right, #84fab0 0%, #8fd3f4 51%, #84fab0 100%);
}

#button:hover {
    background-position: right center;
}

.color-up {
    background-color: rgb(250, 250, 250);
    display: flex;
    flex-wrap: wrap;
    bottom: 0;
}

h1 {
    font-weight: 900;
    text-transform: uppercase;
    font-size: 40px;
}

p {
    font-size: 0.9rem;
    max-width: fit-content;
    width: 95%;
}

.first {
   display: flex;
   flex-wrap: nowrap;
   flex-direction: column;
   width: 55%;
   margin: 50px 0 0 20px;
}

.first__btn {
    width: fit-content;
}

.second {
    background-image: none;
    padding-right: 10px;
}

.img-cover {
    width: 580px;
    height: 600px;
    padding: 0;
    margin: 0;
}

.question    {
   display: flex;
   flex-wrap: nowrap;
   flex-direction: column;
   width: 55%;
   margin: -80px 0 0 20px;
   left: 0;
   bottom: 0;
}

.color-down {
    background-color: rgb(243, 244, 246);
    left: 0;
    right: 0;
    top: 0;
}

.flex-box {
    margin: 40px 20px;
    display: flex;
    justify-content: space-between;
}

.bank {
    display: flex;
    flex-direction: column;
    width: 20%;
}

.budget {
    display: flex;
    flex-direction: column;
    width: 20%;
}

.onbroad {
    display: flex;
    flex-direction: column;
    width: 20%;
}

.api {
    display: flex;
    flex-direction: column;
    width: 20%;
}

.none {
    width: 90px;
    height: 90px;
    background-image: linear-gradient(to right, #84fab0 0%, #8fd3f4 51%, #84fab0 100%);
    background-size: 200% auto;
    border-radius: 40%;
}

.flex--white {
    background-color: rgb(255, 255, 255);
}

.article {
    margin: 20px 0 40px 20px;
}
.container {
    display: flex;
    justify-content: space-between;
    margin: 10px 20px;
    align-items: center;
    max-height: 800px;
    margin: 30px 0 50px 0;
}

.clare {
    display: flex;
    flex-direction: column;
    background-color: azure;
    width: auto;
    height: 800px;
    margin: 20px;
}

.hutton {
    display: flex;
    flex-direction: column;
    background-color: azure;
    width: auto;
    height: 800px;
    margin: 20px;
}

.code {
    display: flex;
    flex-direction: column;
    background-color: azure;
    width: auto;
    height: 800px;
    margin: 20px;
}

.mking {
    display: flex;
    flex-direction: column;
    background-color: azure;
    width: auto;
    height: 800px;
    margin: 20px;
}

.art {
    width: 280px;
    height: 280px;
}

#someone {
    margin: -30px 0 0 0;
    top: -10px;
}

#someone1 {
    margin: -40px 0 0 0;
    top: -10px;
}

footer {
    background-color: rgb(45, 49, 77);
    color: aliceblue;
}

table {
    table-layout: fixed;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
    padding: 10px auto;
}

.foot {
    color: gray;
}

.img-foot {
    width: 50px;
    height: 50px;
    margin: 25px 0 0 40px;
}

.icon-link {
    display: flex;
    justify-content: baseline;
    width: 400px;
    text-align: left;
}

.dc {
    padding: 0;
}